:root {
    --primary-color: #34495e;
    --bs-primary: #34495e;
    --bs-primary-rgb: 52, 73, 94;
    --secondary-color: #3498db;
    --accent-color: #e74c3c;
    --text-color: #2c3e50;
    --background-color: #ecf0f1;
    --card-background: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --base-font-size: 16px;
    --card-transition: all 0.3s ease;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--base-font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-weight: 600;
}

body {
    font-family: var(--body-font);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header y navegación */
header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 2px 4px var(--shadow-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    font-family: var(--title-font);
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: white;
    text-shadow: 0 0 10px var(--secondary-color);
    transform: scale(1.1);
    display: inline-block;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 242, 242, 0.2);
}


/* Cards */
.card {
    height: 100%;
    max-width: 350px;
    margin: 0 auto;
    transition: var(--card-transition);
    background-color: var(--card-background);
    
}

.card-title {
    font-family: var(--title-font);
    font-weight: 600;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
    padding: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card-text {
    flex-grow: 1;
}

/* Efectos hover de las cards */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-color: var(--bs-primary);
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Media Queries */

@media (max-width: 480px) {
    .card {
        margin: 0.5rem auto;
    }
    header h1 {
        font-size: 1.5rem;
    }
    
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
    }

    .navbar-collapse {
        margin-top: 1rem;
    }
}

