

<section class="category mb-5" *ngFor="let category of categories">
    <h2 class="text-center mb-4">{{category.title}}</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" *ngFor="let game of gameService.getGamesByCategory(category.id)">
        <div class="card shadow-sm cards">
          <img [src]="game.image" class="card-img-top" [alt]="game.title"/>
          <div class="card-body">
            <h3 class="card-title h5">{{game.title}}</h3>
            <p class="card-text">{{game.description}}</p>
            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
              <p class="h4 mb-0">${{game.price}}</p>
              <span class="badge bg-danger" *ngIf="game.discount">
                {{game.discount}}% off
              </span>
            </div>
            <div class="d-flex flex-column flex-sm-row gap-2 mt-3">
              <button class="btn btn-outline-primary flex-grow-1">Add to Cart</button>
              <button class="btn btn-primary flex-grow-1">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>